*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    text-align: center;
    max-width: 100%;
}

body{
    text-align: center;
    max-width: 100%;
    overflow-x: hidden;
}

/* Navbar */
.navbar-brand{
    margin-left: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-custom{
    background-color: #fff;
}

.navbar-brand span{
    font-family: 'Montserrat', sans-serif;
    color: #4CA9EE;
    font-weight: 500;
    font-size: 23px;
    margin-left: 5px;
}

.navbar button{
    background-color: #4CA9EE;
    border-radius: 26.0417px;
    color: #fff;
    width: 6.5rem;
    margin-right: 70px;
}

.navbar button:hover{
    color: #fff;
    background-color: #27E7CD;
}

/* Landing Screen */
#s1{
    text-align: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

.bg-home h1{
    font-size: 60px;
    font-weight: bold;
    line-height: 98px;
    padding-top: 300px;
}

.bg-home h5{
    display: inline-block;
    width: 30%;
    line-height: 41px;
    font-weight: 600;
    font-size: 20px;
}

.bg-home{
    background-image: url(images/bg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 900px;
    width: 1590px;
    margin-bottom: 6rem;
}

/* Features and Form */
#s2{
    font-family: 'Open Sans', sans-serif;
}

.features img{
    width: 18%;
    height: 28%;
}

.features h5{
    display: inline-block;
    font-weight: bold;
    font-size: 21px;
    width: 25%;
    text-align: left;
    color: black;
}

.img1, .img2, .img3{
    margin-bottom: 1rem;
    margin-right: 3rem;
} 

.form{
    width: 400px;
    height: 641px;
    background-color: black;
    color: #fff;
    border-radius: 10px;
    margin-left: 10rem;
    margin-top: -14rem;
    font-family: 'Work Sans', sans-serif;
}

.form h4{
    padding-top: 3rem;
    line-height: 35px;
    margin-top: 2rem;
    font-size: 32px;
}

.form p{
    margin-bottom: 2rem;
    font-size: 15px;
}

.form input, select{
    padding: 12px;
    border-radius: 5px;
    width: 308px;
    height: 46px;
    margin-bottom: 1rem;
}

.form button{
    width: 308px;
    height: 46px;
    border-radius: 5px;
    margin-top: 1rem;
    background-color: #4CA9EE;
    color: #fff;
    line-height: 21px;
    font-size: 15px;
    letter-spacing: 0.5px;
}

/* Details with Video */
.sample-details{
    font-family: 'Open Sans', sans-serif;
    width: 1440px;
    height: 653px;
    margin-bottom: 5rem;
}

.sample-details h2{
    margin-top: 13rem;
    text-align: left;
    margin-left: 8rem;
    color: black;
    font-size: 35px;
    line-height: 50px;
}

.sample-details p{
    margin-left: 8rem;
    margin-right: 3rem;
    margin-top: 2.5rem;
    color:#757575;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    font-size: 15px;
    line-height: 22px;
}

.sample-details .video{
    width: 758px;
    height: 505.21px;
    margin-top: 6.5rem;
    border-radius: 25px;
    margin-right: -1rem;
}

/* Discount Coupoun Card */
.discount{
    width: 1590px;
    height: 263px;
    background-color: black;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

.discount h3{
    text-align: left;
    margin-left: 8rem;
    font-size: 32px;
    line-height: 44px;
    margin-top: 5rem;
    margin-right: 3rem;
}

.discount p{
    text-align: left;
    margin-left: 8rem;
    font-size: 15px;
    line-height: 25px;
    margin-top: 1rem;
    margin-right: 3rem;
}

.discount .btn1{
    background-color: #27E7CD;
    border-radius: 48.6997px;
    width: 197px;
    height: 48.91px;
    margin-right: 14rem;
    margin-top: 7rem;
}

.discount .btn2{
    background-color: #fff;
    border-radius: 48.6997px;
    width: 197px;
    height: 48.91px;
    margin-left: -13rem;
}

/* Footer */
.extra{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: normal;
}

.extra .links li{
    display: inline-block;
    cursor: pointer;
    margin: 18px;
    margin-top: 55px;
    font-size: 19px;
    line-height: 27px;
}

.extra p{
    color: #413F3F;
    font-size: 15px;
    line-height: 22px;
    margin-top: -0.6rem;
}

.extra .tnc li{
    display: inline-block;
    cursor: pointer;
    color: #413F3F;
    margin: 15px;
    margin-top: 6px;
    font-size: 14px;
    line-height: 19px;
}

.extra .links a{
    text-decoration: none;
    color: black;
}

.extra .tnc a{
    text-decoration: none;
    color: #413F3F;
}

/* Media Queries for devices having width upto 992px */
@media screen and (max-width:992px){

    .navbar button{
        margin-left: 62rem;
        background-color: black;
        color: #fff;
        margin-top: -8rem;
        position: relative;
        z-index: 200;
        margin-bottom: 1rem;
        width: 15rem;
        font-size: 35px;
        border-radius: 60px;
    }

    .navbar-brand{
        position: relative;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .navbar-brand span{
        font-size: 50px;
    }

    .navbar-brand img{
        width: 115px;
        height: 65px;
    }

    .bg-home h1,h5{
        text-align: center;
        margin-left: -12rem;
    }
    
    .features img{
        width: 22rem;
        height: 20rem;
        margin-bottom: 3rem;
        margin-left: 17rem;
    }

    .features h5{
        margin-left: 50rem;
        font-size: 3rem;
        width: 20rem;
    }

    .features .img1{
        margin-top: 15rem;
    }

    .form{
        margin-left: -3rem;
        margin-top: 30rem;
        width: 90rem;
        height: 60rem;
        padding-top: -1rem;
    }

    .form h4{
        display: inline-block;
        padding-bottom: 2rem;
        font-size: 5rem;
        line-height: 6rem;
    }

    .form p{
        font-size: 2rem;
    }

    .form input,select{
        width: 450px;
        height: 60px;
    }

    .form button{
        margin-top: 1rem;
        width: 350px;
        height: 65px;
        background-color: white;
        color: black;
        font-size: 22px;
    }

    .sample-details h2{
        margin-top: 5rem;
        font-size: 3.5rem;
        line-height: 3.8rem;
    }

    .sample-details p{
        font-size: 25px;
        line-height: 35px;
        width: 60rem;
    }

    .sample-details .video{
        margin-bottom: 2rem;
        margin-left: -11rem;
        margin-top: 4rem;
        width: 65rem;
        height: 43rem;
    }

    .discount{
        margin-top: 40rem;
        height: 25rem;
    }

    .discount h3{
        font-size: 40px;
    }

    .discount p{
        font-size: 24px;
        width: 52rem;
        margin-top: 2rem;
        line-height: 2rem;
    }

    .discount .btn1{
        margin-left: -58rem;
        margin-top: 3rem;
        background-color: black;
        color: #fff;
    }

    .links{
        display: flex;
        flex-direction: column;
        
    }

    .extra .links li{
        margin-left: 35rem;
        width: 10rem;
        font-size: 23px;
    }

    .extra p{
        margin-left: 30rem;
        width: 28rem;
        font-size: 20px;
    }

    .extra .tnc a{
        margin-left: 37.8rem;
    }
}
